body {
    display: flex;
    font-family: Arial, sans-serif;
}

#menu {
    width: 225px;
    padding: 20px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
}

#works-btn {
    cursor: pointer;
    color: #0000EE;
    text-decoration: underline;
}
#works-list {
    display: none; /* Hidden by default */
    position: absolute;
    left: 125px; /* Moves it to the right of the menu */
    top: 78px; /* Aligns it properly */
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 160px;
}

#works-list a {
    display: block;
    margin-bottom: 5px;
    color: #0000EE;
    text-decoration: underline;
}

#works-list a.clicked {
    color: #551A8B !important;
}


#works-btn.clicked {
    color: #551A8B; /* Changes to purple when clicked */
}

#content {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
}

.work-content {
    display: none;
}

#header-title {
    font-size: 32px; /* Keep original size */
    font-weight: bold;
    color: black; 
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px; /* Adjust space below header */
}

#header-title {
    color: black; /* Change header text color to black */
}

.work-box {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    width: 60%;
    margin: 20px auto;
}




